<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="Trello Assignment" parallel="classes">
        <packages>
            <package name="com.trello.api.*"></package>
        </packages>
    </test> <!-- CodeTestOslash -->
</suite> <!-- Default Suite -->
